<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml">
<head>
  <title>Titelo!</title>

<meta http-equiv = "Content-type" content = "text/html; charset =UTF-8"/>
<meta name = "keywords" content = "HTML, XHTML, programming"/>
<meta name = "description" content = "A test website where I'm learning things"/>
<meta name = "author" name1 = "Mookie Chess"/>

<link rel = "stylesheet" type = "text/css" href = "style.css"/>
<link rel = "shortcut icon" href = "images/fav.ico" />
</head>
<body>
<div id = "color">
<h1>Homepage</h1>
<br />
<br />
<div class = "nav_bar">
  <ul>
    <li>  <a href ="index.html">Homepage</a></li>
    <li>  <a href ="about.html">About</a></li><!--Opens in new tab-->
    <li>  <a href ="contact.html" >Contact</a></li>
    <li>  <a href ="admin.html">Admin</a></li>
    <li>  <a href ="test.txt">text file</a></li><!--You're able to download this type of file. Good for links that you want to have downloaded.-->
    <li>  <a href = "contact.html#hep">HTML Development</a></li>
  </ul>
  </div>
  </div>
<p class = "name"> Hello, my name is Mookie and this is my test website.</p>
<p style = "text-align:center;">The main idea is <strike>learn by doing</strike> don't screw things up so bad that you don't learn something from it.</p><br />
<br />
  <div id = "middle">
<div id = "head"><br /><br /><br /><br /><br /><br /><br />
  
This is the welcome screen! Do you feel welcome? <br />Well, you should.
<br /><br />
Bitch.
</div>
<div id = "foot">
This is a footer, no duh. Pretty sure we all know what that is, right? Good. <br /><br /> <br />
<br />
Bitch.
</div>
<br /> <br />
<h>All hail the mighty HTML/CSS!</h>
</div>
</body>
</html>
