<HTML>
<head>
  <title>Titelo!</title>

<meta http-equiv = "Content-type" content = "text/html; charset =UTF-8"/>
<meta name = "keywords" content = "HTML, CSS, Ruby on Rails, programming"/>
<meta name = "description" content = "A test website where I'm learning things"/>
<meta name = "author" name1 = "Martin Ellis"/>

<link rel = "stylesheet" type = "text/css" href = "style.css"/>
<link rel = "shortcut icon" href = "images/fav.ico" />
</head>
<body>
<div id = "color">
<h1 id = "pageTitle">Homepage</h1>
<br />
<br />
<div class = "nav_bar">
  <ul>
    <li>  <a href ="index.html">Homepage</a></li>
    <li>  <a href ="about.html">About</a></li><!--Opens in new tab-->
    <li>  <a href ="contact.html" >Contact</a></li>
    <li>  <a href ="admin.html">Admin</a></li>
  </ul>
  </div>
  </div>
<p class = "name"> Hello, my name is Martin and this is my test website.</p>
<p style = "text-align:center;">The main idea is <strike>learn by doing</strike> don't screw things up so bad that you don't learn something from it.</p><br />
<br />
  <div id = "middle"> 
<div id = "head"><br />
  This is a project I've been doing on the side to keep my front-end skills up-to-date, or that's what I tell folks, but really it's because I like to change things around and have fun with some front-end stuff. =-)
<!-- This is the welcome screen! <br />Feel free to click around. <br /><br /> -->
</div>

<br /> <br />
<h>All hail the mighty HTML/CSS!</h>

<div id = "foot">
This is a footer, no duh. Pretty sure we all know what that is, right? Good.
<br />
<!-- Bitch.-->
</div>
</div>
<p class = "copyright">&copy; 2014<script>new Date().getFullYear()>2014&&document.write("-"+new Date().getFullYear());</script>, Martin Ellis.</p>
</body>
</html>